#result_page{
    border: 1mm;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    
}


#list_area{
    width: 50%;
    height: 100%;
    transform: translate(20%);
    background-color: #fafafa;
    border-radius: 2mm;
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }


.icon_selected{
    color: #40a9ff;
}

/* #overview{
   
    width: 40%;
    background-color: white;
    border-radius: 2mm;
    height: 100%;

} */