#CardList{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* margin-bottom: 1px; */
}

#CardList > .ant-list-pagination > .ant-pagination{
    /* height: 10%; */
    /* margin-block-start: 0px; */
    transform: translate(0px,-10px);
}
